target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/static/battlemusic.mp3
!**/src/main/resources/static/character.mp3
!**/src/main/resources/static/menu-music.mp3

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Operating System ###
.DS_Store
Thumbs.db
